= form_for @studentsubject do |f|
  - if @studentsubject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@studentsubject.errors.count, "error")} prohibited this studentsubject from being saved:"
      %ul
        - @studentsubject.errors.full_messages.each do |message|
          %li= message

    = f.hidden_field :subject
    = f.hidden_field :student
  .field
    = f.label :firstsmodulescore, 'Calificación modulo 1'
    = f.text_field :firstsmodulescore
  .field
    = f.label :secondmodulescore, 'Calificación modulo 2'
    = f.text_field :secondmodulescore
  .actions
    = f.submit 'Save'
