%h1 Pagos

%table.table.table-hover
  %thead
    %tr.bg-dark.text-light
      %th{scope: "col"} Nombre
      %th{scope: "col"} Cantidad
      %th
      %th

  %tbody
    - @debts.each do |debt|
      %tr
        %td= debt.name
        %td= debt.amount
        %td= link_to 'Modificar', edit_debt_path(debt)
        %td= link_to 'Eliminar', debt, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo pago', new_debt_path, class: "btn btn-warning"
