= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message

  -#.field
    =# f.label :group_id
    =# f.text_field :group_id
  -#.field
    =# f.label :subject
    =# f.collection_select(:subjects, Subject.all, :id, :name,{})
  .row
    .col-md-4
      .field.form-group
        = f.label :name, "Nombre"
        = f.text_field :name, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :lastname, "Apellido"
        = f.text_field :lastname, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :discount, "Descuento"
        = f.number_field :discount, class: "form-control"
  .row
    .col-md-4
      .field.form-group
        = f.label :tel1, "Teléfono 1"
        = f.text_field :tel1, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :tel2, "Teléfono 2"
        = f.text_field :tel2, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :street, "Calle"
        = f.text_field :street, class: "form-control"
  .row
    .col-md-4
      .field.form-group
        = f.label :numberhome, "Numero de casa"
        = f.text_field :numberhome, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :suburb, "Colonia"
        = f.text_field :suburb, class: "form-control"
    .col-md-4
      .field.form-group
        = f.label :registrationnumber, "Matricula"
        = f.text_field :registrationnumber, class: "form-control"
  .row
    .col-md-4
      .field.form-group
        = f.label :banknumber, "Numero bancario"
        = f.text_field :banknumber, class: "form-control"
    .col-md-4
    .col-md-4
  
  .actions
    = f.submit 'Guardar', class: "btn btn-success"
