%h1 Listing students

%table
  %thead
    %tr
      %th Id
      %th Group
      %th Name
      %th Lastname
      %th Tel1
      %th Tel2
      %th Street
      %th Numberhome
      %th Suburb
      %th Registrationnumber
      %th Banknumber
      -#%th Amount
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.id#check_box_tag "student_id", student.id , false , id: student.name
        %td= student.group.name if student.group.present?
        %td= student.name
        %td= student.lastname
        %td= student.tel1
        %td= student.tel2
        %td= student.street
        %td= student.numberhome
        %td= student.suburb
        %td= student.registrationnumber
        %td= student.banknumber
        %td=# student.account.amount
        %td= link_to 'Show', student
        %td= link_to 'Edit', edit_student_path(student)
        %td= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }

%br
-#Student.all.each_with_index do |val,index|
  =# check_box_tag @studente, val.name, false , id: index

= link_to 'New Student', new_student_path
