%p#notice= notice

%p
  %b Group:
  = @student.group.name if @student.group.present?
%p
  %b Name:
  = @student.name
%p
  %b Lastname:
  = @student.lastname
%p
  %b Tel1:
  = @student.tel1
%p
  %b Tel2:
  = @student.tel2
%p
  %b Street:
  = @student.street
%p
  %b Numberhome:
  = @student.numberhome
%p
  %b Suburb:
  = @student.suburb
%p
  %b Registrationnumber:
  = @student.registrationnumber
%p
  %b Banknumber:
  = @student.banknumber
%p
  %b Tiene un descuento del:
  ="#{@student.discount}%"
-#%p
  -#%b Adeudos a pagar:
  -#@debt = Debt.all
  -#@debt.each do |debt|
    =#debt.name
%p
  %b Total a pagar:
  = @student.account.amount
%p
  %b Materias:
  -@student.subjects.each do |materia|
    =materia.name
%p
  %b Total a pagar:
  - @student.studentsubjects.each do |mod|
    =mod.firstsmodulescore


= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
