!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title ControlEscolar
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%nav.navbar.navbar-expand-lg.navbar-light.bg-primary
			%a.navbar-brand{:href => "#"} Navbar
			%button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
				%span.navbar-toggler-icon
			#navbarNavAltMarkup.collapse.navbar-collapse
				.navbar-nav
					-if user_signed_in?
						%a.nav-item.nav-link{"data-method" => "delete",href:"/admin/logout"} Cerrar sesión
					
						-if current_user.role == "admin" or current_user.role == "control"
							%a.nav-item.nav-link{href: "/accounts"} Cuentas
							%a.nav-item.nav-link{href: "/students"} Estudiantes
							%a.nav-item.nav-link{href: "/panel"} Panel
						
						-if current_user.role == "admin"
							%a.nav-item.nav-link{href: "/admin"} Administrador
							%a.nav-item.nav-link{href: "javascript:acceso()"} Historial
							%a.nav-item.nav-link{href: "/debts"} Razones de pago
							%a.nav-item.nav-link{href: "/groups"} Grupos
							%a.nav-item.nav-link{href: "/subjects"} Materias
							%a.nav-item.nav-link{href: "/semesters"} Semestres
							
						-if current_user.role == "professor"
							%a.nav-item.nav-link{href: "/studentsubjects"} Calificaciones
					
					%a{href:"/recordpayments", id: "historial"}
					%a{href:"/admin/logout", id: "cerrar_sesion"}
					-#%a.nav-item.nav-link{href: "/asignar?asignar=#{1}"}Asignar materia
					-#%a.nav-item.nav-link{href: "/asignar?asignar=#{2}"}Asignar Semestre
					-#%a.nav-item.nav-link{href: "/asignar?asignar=#{3}"}Asignar Grupo
					-#.dropdown
						-#%a#dropdownMenuLink.btn.btn-primary.dropdown-toggle{href: "/students",role: "button","data-toggle" => "dropdown","aria-haspopup" => "true","aria-expanded" => "false"} Students
						-#.dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
							-#%a.dropdown-item{href: "/students"}Student
							-#%a.dropdown-item{href: "/asignar?asignar=#{1}"}Asignar materia
							-#%a.dropdown-item{href: "/asignar?asignar=#{2}"}Asignar Semestre
							-#%a.dropdown-item{href: "/asignar?asignar=#{3}"}Asignar Grupo
					

		.container
			%p{style:"#{'display: none;' if notice.nil? && alert.nil?}"}
				= notice
				= alert
			= yield
			
	
		

