<html>
    <head>
        <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8"/>
    </head>
    <body>
        <h1>Ticket</h1>
        <h3><%=Date.today.strftime("%d/%m/%Y")%></h3>
        <table class="table table-hover">
            <tr>
                <td><strong>Razon de pago</strong></td>
                <td><strong>Cantidad</strong></td>
            </tr>
            
        
            <%if !params[:razon].present?%>
                <%-@total = 0%>
                <%array = params[:debts].split("__")%>
                <%array.each do |aquitoy|%>

                    <tr>
                        <%if Debt.find(aquitoy.to_s).name == "Mensualidad"%>
                            <td><%=Debt.find(aquitoy.to_s).name %></td>
                            <%-@discount = (params[:descuento].to_f / 100) * Debt.find(aquitoy).amount.abs%>
                            <td><%=@con_descuento = Debt.find(aquitoy).amount.abs - @discount%></td>
                        <%else%>
                            <td><%=Debt.find(aquitoy.to_s).name %></td>
                            <td><%=Debt.find(aquitoy).amount.abs%></td>
                        <%end%>
                        
                        <%if Debt.find(aquitoy.to_s).name == "Mensualidad"%>
                            <%-@total = @total + @con_descuento %>
                        <%else%>
                            <%-@total = @total + Debt.find(aquitoy).amount.abs %>
                        <%end%>
                        
                    </tr>
                    
                <%end%>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><%="Total:"%></td>
                    <td><%=@total%></td>
                </tr>
            <%else%>
                <td><%=params[:razon]%></td>
                <td><%=params[:debts]%></td>
            <%end%>
       </table>
        
    </body>
</html>