%h1 
  Listing accounts
  %b{style: "color: red;"}
    =@total_amounts

%table
  %thead
    %tr
      %th Amount
      %th Name
      %th Last name
      %th
      %th
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.amount
        %td= account.student.name
        %td= account.student.lastname
        %td= link_to 'Show', account
        %td= link_to "Pagar", edit_account_path(account,student_id: account.student_id,ac_id: account.id)
        %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
